:root {
    // COLOURS
    --color-white: hsl(0deg 0% 100%);
    --color-gray-light: hsl(20deg 20% 97%);
    --color-gray-mid: hsl(0deg 0% 33%);
    --color-gray: hsl(0deg 0% 85%);
    --color-blue: hsl(197deg 100% 44%);
    --color-blue-darker: hsl(197deg 100% 40%);
    --color-orange: hsl(25deg 100% 50%);

    // BORDERS
    --border-width: 2px;
    --border-white: var(--border-width) solid var(--color-white);
    --border-orange: var(--border-width) solid var(--color-orange);
    --border-gray: 1px solid var(--color-gray);
    --border-radius: 0.25rem;
    --border-circle-radius: 100%;

    // FONTS
    --font-sans-serif: "Montserrat", sans-serif;
    --font-serif: "Roboto Slab", serif;
    --font-quotes: "Times New Roman", serif;
    --font-size-default: 1.25rem;
    --font-size-quotes: 3rem;
    --font-size-small: 0.85rem;
    --font-bold: 700;
    --font-light: 300;

    // SPACING
    --spacing-default: 2rem;
    --spacing-quotes-default: 0.75em;
    --spacing-small: 0.5rem;

    // SIZING
    --circle-small-size: 0.5em;
    --quotes-sizing: 1.5rem;
    --quotes-left: calc(var(--quotes-sizing) - (var(--quotes-sizing) * 2));
}
